
.contenedor{
    background-color: #daa520;
    margin: 10px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    text-align: center;
    align-items: flex-start;
}

.caja1 {
    border: 2px solid red;
    background-color: blue;
    margin: 5px;
    height: 100px;
    width: 100px;
    grid-column: 1;
    grid-row: 2;
    }
.caja2{
    border: 2px solid red;
    background-color: lightblue;
    margin: 3px;
    height: 100px;
    width: 100px;
    grid-column: 2;
    grid-row: 4;
}
.caja3 {
    border: 3px solid red;
    background-color: yellow;
    margin: 3px;
    height: 100px;
    width: 100px;
    grid-column: 3;
    grid-row: 3;
}
.caja4 {
    border: 2px solid red;
    background-color: green;
    margin: 3px;
    height: 100px;
    width: 100px;
    grid-column: 4;
    grid-row: 4;
}
.caja5 {
    border: 3px solid red;
    background-color: aquamarine;
    margin: 3px;
    height: 100px;
    width: 100px;
    grid-column: 5;
    grid-row: 2;
}